@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-slate-200;
  }

  .redux {
    @apply flex flex-wrap;
  }

  .active {
    @apply font-bold text-redux-500 active:text-black lg:hover:text-redux-600 lg:hover:active:text-black transition-colors;
  }

  .navbar {
    @apply relative flex flex-wrap gap-5 items-center px-6 py-5 lg:py-4 border-b border-gray-300 w-full max-h-[65px];
  }

  .logo {
    @apply leading-8 font-bold text-xl mr-auto;
  }

  .pages {
    @apply hidden lg:flex items-center gap-8 mx-auto;
  }

  .link {
    @apply inline-flex flex-col items-center justify-between active:font-bold lg:hover:font-bold lg:hover:active:font-normal cursor-pointer;
  }

  /* CSS trick to avoid layout shift on hover:bold */
  .link::after {
    content: attr(data-text) / "";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
  }

  @media speech {
    .link {
      display: none;
    }
  }
  /* End of trick */

  .searchbar {
    width: clamp(25%, 25rem, 100%);
    @apply hidden lg:inline-block focus-visible:outline-none px-3 mx-auto border border-gray-300 rounded-2xl bg-slate-50;
  }

  .searchbar[data-expanded="true"] {
    @apply order-last md:order-none inline-block;
  }

  .account {
    @apply flex items-center gap-4 ml-auto;
  }

  .avatar {
    @apply rounded-full inline-block m-0 shadow-md;
  }

  .info-tooltip {
    @apply scale-0 right-6 top-16 lg:top-20 z-20 absolute transition-all text-white bg-redux-500 p-3 rounded-md shadow-xl;
  }

  .swapper {
    @apply inline-block text-sm cursor-pointer md:block ml-7 md:ml-0;
  }

  .spin {
    animation: spin 0.5s;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  .swapper-icon {
    @apply w-6 h-6 active:text-redux-500 lg:hover:text-redux-500 lg:hover:active:text-current transition-colors mx-auto inline-block;
  }

  .name {
    @apply hidden font-medium lg:inline-block;
  }

  .search {
    @apply cursor-pointer lg:hidden;
  }

  .menu {
    @apply cursor-pointer lg:hidden;
  }

  .sidebar {
    @apply ease-in border-r-0 right-0 opacity-0 lg:opacity-100 transition-all lg:transition-none fixed top-[3.25rem] z-20 lg:z-auto invisible lg:visible bg-transparent lg:left-0 lg:h-full lg:top-[4.05rem] flex flex-col w-72 gap-5 px-7 py-6 lg:p-6 lg:border-r lg:border-gray-300;
  }

  .sidebar-link {
    @apply flex items-center cursor-pointer gap-3 active:font-bold lg:hover:font-bold lg:hover:active:font-normal disabled:cursor-not-allowed disabled:font-normal disabled:text-gray-500 disabled:hover:font-normal;
  }

  .content {
    @apply grow p-8 lg:ml-72;
  }

  .page-header {
    @apply text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl md:text-center;
  }

  .main,
  .login {
    @apply mx-auto max-w-7xl flex flex-col gap-12;
  }

  .about {
    @apply space-y-12 md:grid md:grid-cols-2 md:gap-12 md:space-y-0;
  }

  .users {
    @apply flex flex-col md:flex-row gap-12;
  }

  .user {
    @apply border rounded-2xl mx-auto bg-slate-100 px-6 py-5 min-w-[13rem] text-center shadow-xl;
  }

  .settings {
    @apply flex flex-col gap-12;
  }

  .profile {
    @apply flex flex-col flex-wrap sm:flex-row gap-8 md:gap-16 md:justify-center;
  }

  .form-label {
    @apply block mb-2 md:text-center font-bold;
  }

  .form-input {
    @apply focus-visible:outline-none border border-gray-300 rounded-2xl px-3 invalid:shadow-red-300 invalid:shadow-md bg-slate-50 transition-shadow;
  }

  .button {
    @apply rounded-full text-white text-sm font-semibold bg-redux-500 active:bg-redux-400 lg:hover:bg-redux-600 lg:hover:active:bg-redux-400 py-2 px-3 block cursor-pointer transition-colors disabled:cursor-not-allowed disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:hover:active:bg-gray-500 md:mx-auto;
  }

  .status {
    @apply text-sm block mt-8;
  }
}
