@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-slate-200;
  }

  .redux {
    @apply flex flex-wrap;
  }

  .navbar {
    @apply lg:fixed flex flex-wrap gap-5 items-center px-8 py-4 border-b border-gray-300 w-full bg-slate-200 lg:z-20 min-h-[65px];
  }

  .logo {
    @apply leading-8 font-bold text-xl mr-auto order-1;
  }

  .pages {
    @apply hidden lg:flex items-center lg:gap-4 xl:gap-8 mx-auto order-2;
  }

  .link {
    @apply inline-flex flex-col items-center justify-between active:font-bold lg:hover:font-bold lg:hover:active:font-normal cursor-pointer;
  }

  .searchbar {
    width: clamp(25%, 25rem, 100%);
    @apply hidden lg:inline-block focus-visible:outline-none px-3 mx-auto border border-gray-300 rounded-2xl bg-slate-50 order-3;
  }

  .searchbar[data-expanded="true"] {
    @apply order-last md:order-2 inline-block;
  }

  .account {
    @apply flex items-center gap-4 ml-auto order-4;
  }

  .avatar {
    @apply rounded-full inline-block m-0 shadow-md;
  }

  .info-tooltip {
    @apply invisible lg:visible scale-0 right-6 top-16 lg:top-20 lg:z-20 absolute transition-all text-white bg-redux-500 p-3 rounded-md shadow-xl lg:group-hover:scale-100;
  }

  .swapper {
    @apply inline-block text-sm cursor-pointer md:block ml-7 md:ml-0;
  }

  .swapper-icon {
    @apply w-6 h-6 active:text-redux-500 lg:hover:text-redux-500 lg:hover:active:text-current transition-colors mx-auto inline-block;
  }

  .name {
    @apply hidden font-medium lg:inline-block;
  }

  .search {
    @apply cursor-pointer lg:hidden order-5;
  }

  .menu {
    @apply cursor-pointer inline-block text-left lg:hidden order-6;
  }

  .sidebar {
    @apply invisible lg:visible bg-slate-200 w-64 min-w-[256px] border-r-0 fixed top-[3.25rem] bg-transparent lg:left-0 h-full lg:top-[4.05rem] flex flex-col gap-5 px-8 py-6 lg:border-r lg:border-gray-300;
  }

  .sidebar-link {
    @apply inline-flex flex-wrap items-center cursor-pointer gap-3 active:font-bold lg:hover:font-bold lg:hover:active:font-normal disabled:cursor-not-allowed disabled:font-normal disabled:text-gray-500 disabled:hover:font-normal;
  }

  .content {
    @apply grow p-8 lg:ml-64 lg:mt-[65px];
  }

  .page-header {
    @apply text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl md:text-center;
  }

  .main {
    @apply mx-auto max-w-7xl flex flex-col gap-12;
  }

  .features {
    @apply space-y-12 md:grid md:grid-cols-2 md:gap-12 md:space-y-0;
  }

  .users {
    @apply flex flex-col md:flex-row gap-16 justify-center items-center;
  }

  .user {
    @apply relative border rounded-2xl bg-slate-100 px-6 py-5 w-fit min-w-[13rem] text-center shadow-xl;
  }

  .reset {
    @apply h-5 w-5 absolute bottom-7 right-6 cursor-pointer;
  }

  .about,
  .settings,
  .login {
    @apply md:text-center flex flex-col gap-12;
  }

  .contact {
    @apply flex flex-col xl:flex-row md:items-center xl:items-start lg:justify-center gap-12 xl:gap-16;
  }

  .header {
    @apply md:text-center;
  }

  .departments {
    @apply flex flex-wrap max-w-lg gap-8 md:gap-12 md:justify-center;
  }

  .profile {
    @apply flex flex-col flex-wrap sm:flex-row gap-8 md:gap-16 md:justify-center;
  }

  .danger {
    @apply !bg-red-600 active:!bg-red-500 lg:hover:!bg-red-700 lg:hover:active:!bg-red-500;
  }

  .form-label {
    @apply block mb-2 md:text-center font-bold;
  }

  .form-input {
    @apply focus-visible:outline-none border border-gray-300 rounded-2xl px-3 invalid:shadow-red-300 invalid:shadow-md bg-slate-50 transition-shadow;
  }

  .button {
    @apply rounded-full text-white text-sm font-semibold bg-redux-500 active:bg-redux-400 lg:hover:bg-redux-600 lg:hover:active:bg-redux-400 py-2 px-3 block cursor-pointer transition-colors disabled:cursor-not-allowed disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:hover:active:bg-gray-500 md:mx-auto;
  }

  .status {
    @apply text-sm block mt-8;
  }

  .text-link {
    @apply text-sm cursor-pointer hover:underline;
  }
}

/* Active link styles */
.active {
  font-weight: bold;
  color: #764abc;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.active:active {
  color: black;
}

.active:hover {
  color: #5e399a;
}

.active:hover:active {
  color: black;
}
/* End of active link styles */

/* Swapper animation */
.spin {
  animation: spin 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* End of swapper animation */

/* CSS trick to avoid layout shift on hover:bold */
.link::after {
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
}

@media speech {
  .link {
    display: none;
  }
}
/* End of trick */
