@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start of Tailwind layer */
@layer components {
  body {
    @apply bg-slate-100;
  }

  .content p {
    @apply !leading-8;
  }

  .redux {
    @apply flex flex-wrap;
  }

  .outlined {
    @apply outline outline-1 outline-gray-300;
  }

  .navbar {
    @apply lg:fixed flex flex-wrap gap-5 items-center px-8 py-4 border-b border-gray-400 w-full bg-slate-200 lg:z-20 min-h-[65px];
  }

  .logo {
    @apply leading-8 font-bold text-xl mr-auto;
  }

  .pages {
    @apply flex items-center lg:gap-4 xl:gap-8 xl:mx-auto;
  }

  .link {
    @apply inline-flex flex-col items-center justify-between active:font-bold lg:hover:font-bold lg:hover:active:font-normal cursor-pointer transition-all;
  }

  .lookup {
    width: clamp(20%, 23rem, 100%);
    @apply mx-auto order-last md:order-1 lg:order-none;
  }

  .searchbar {
    width: inherit;
    @apply inline-block focus-visible:outline-none px-3 py-0.5 border border-gray-300 rounded-2xl bg-white order-last md:order-1 lg:order-none;
  }

  .account {
    @apply flex items-center gap-4 ml-auto lg:ml-0 order-1 md:order-2 lg:order-none;
  }

  .avatar {
    @apply rounded-full inline-block m-0 shadow-md;
  }

  .info-tooltip {
    @apply invisible lg:visible scale-0 right-6 top-16 lg:top-20 lg:z-20 absolute transition-all text-white bg-redux-500 p-3 rounded-md shadow-xl lg:group-hover:scale-100;
  }

  .swapper {
    @apply inline-block w-fit text-sm cursor-pointer ml-7 md:block md:mx-auto;
  }

  .swapper-icon {
    @apply w-6 h-6 active:text-redux-500 lg:hover:text-redux-500 lg:hover:active:text-current transition-colors mx-auto inline-block;
  }

  .details,
  .input-row,
  .input-group {
    @apply flex flex-col gap-8;
  }

  .detail-input input {
    @apply w-10/12 md:w-full;
  }

  .name {
    @apply font-medium inline-block;
  }

  .search {
    @apply cursor-pointer order-2 md:order-3 lg:order-none;
  }

  .more {
    @apply inline-block text-left order-3 md:order-last lg:order-none;
  }

  .menu {
    height: calc(100% - 52px);

    @apply bg-slate-200 w-64 min-w-[256px] border-r-0 fixed top-[3.25rem] lg:left-0 lg:top-[4.05rem] px-8 pt-6 pb-7 lg:border-r lg:border-gray-400 overflow-y-auto;
  }

  .sidebar {
    @apply h-full;
  }

  .links {
    @apply flex flex-col gap-7 h-full;
  }

  .sidebar-link {
    @apply inline-flex flex-wrap items-center cursor-pointer gap-3 active:font-bold lg:hover:bg-white lg:hover:rounded-full lg:hover:px-3 lg:hover:py-1 disabled:cursor-not-allowed disabled:font-normal disabled:text-gray-500 disabled:hover:font-normal transition-all;
  }

  .sidebar-link.active {
    @apply lg:hover:bg-[#fcfcfc];
  }

  .content {
    @apply grow p-8 lg:py-10 lg:px-14 lg:ml-64 lg:mt-[65px] overflow-y-scroll;
  }

  .page-header {
    @apply text-3xl font-bold tracking-tight text-gray-900;
  }

  .main {
    @apply max-w-7xl flex flex-col gap-12;
  }

  .features {
    @apply space-y-12 md:grid md:grid-cols-2 md:gap-12 md:space-y-0;
  }

  .user {
    @apply relative border rounded-2xl bg-white mx-auto px-6 py-5 w-fit min-w-[13rem] max-w-[15rem] shadow-md text-center;
  }

  .reset,
  .type {
    @apply absolute bottom-[1.6rem] right-6;
  }

  .about,
  .settings,
  .login {
    @apply flex flex-col;
  }

  .departments {
    @apply flex flex-wrap max-w-lg gap-8;
  }

  .danger {
    @apply !bg-red-600 active:!bg-red-500 lg:hover:!bg-red-700 lg:hover:active:!bg-red-500;
  }

  .form-label {
    @apply block mb-2 font-bold;
  }

  .form-input {
    @apply focus-visible:outline-none border border-gray-300 rounded-2xl px-3 py-0.5 invalid:shadow-red-300 invalid:shadow-md bg-white transition-shadow;
  }

  .button {
    @apply rounded-full text-white text-sm font-semibold bg-redux-500 active:bg-redux-400 lg:hover:bg-redux-600 lg:hover:active:bg-redux-400 py-2 px-3 block cursor-pointer transition-colors disabled:!cursor-not-allowed disabled:!bg-gray-500 disabled:hover:!bg-gray-500 disabled:hover:active:!bg-gray-500;
  }

  .status {
    @apply text-sm font-semibold block;
  }

  .text-link {
    @apply text-sm cursor-pointer hover:underline;
  }
}
/* End of Tailwind layer */

/* Start of custom Toastify styles */
:root {
  --toastify-toast-width: 350px;
  --toastify-font-family: "Inter var";
  --toastify-color-success: #8f6bc8;
}
/* End of custom Toastify styles */

/* Start of scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #764abc;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5e399a;
}
/* End of scrollbar style */

/* Start of Lottie animation */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 30;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.lottie {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  user-select: none;
}

.lottie svg {
  height: 12rem !important;
}

@media only screen and (min-width: 1024px) {
  .lottie {
    margin-left: 8rem;
  }

  .menu {
    height: calc(100% - 65px);
  }

  .content {
    height: calc(100vh - 65px);
  }
}
/* End of Lottie animation */

/* Start of Google Identity button */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.google-signin {
  text-align: center;
}

.google-identity {
  width: max-content;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.google-identity:disabled {
  background-color: #424242;
  cursor: not-allowed;
}

.google-identity:disabled .google-logo svg g > * {
  fill: #212121;
}

.google-identity:disabled .text {
  color: black;
}

.google-identity:disabled:active {
  background-color: #424242;
}

.google-identity:active {
  background-color: #f5f5f5;
}

.google-identity:focus-visible {
  outline: 2px solid #01579b;
}

.google-identity .google-logo {
  display: inline-block;
}

.google-identity .google-logo svg {
  display: inline;
  margin: 0.75rem;
}

.google-identity .text {
  padding-left: 0.5rem;
  padding-right: 0.75rem;
  color: #5f6368;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
}
/* End of Google Identity button */

/* Active link styles */
.active {
  font-weight: bold;
  color: #764abc;
  background-color: white;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
}

.active:active {
  color: black;
}

.active:hover {
  color: #5e399a;
}

.active:hover:active {
  color: black;
}

.active-d {
  background-color: white;
  border-radius: 0;
  padding: 0.5rem 1rem;
}
/* End of active link styles */

/* Swapper animation */
.spin {
  animation: spin 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* End of swapper animation */

/* CSS trick to avoid layout shift on hover:bold */
.link::after {
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
}

@media speech {
  .link {
    display: none;
  }
}
/* End of trick */

/* Placeholder ellipsis */
input:placeholder-shown {
  text-overflow: ellipsis;
}
